body {
  font-family: Arial;
  margin: 0;
}

.top-bar {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
}

.logo-button {
  background: none;
  border: none;
  margin-top: 55px;
  margin-left: 10vw;
}

.logo {
  height: 120px;
  width: 120px;
}

.logo-button:hover {
  cursor: pointer;
}

.about-button {
  background: none;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  margin-left: 20%;
  padding: 9px;
  transition: 0.5s;
}

.about-button:hover {
  color: rgb(18, 213, 213);
  cursor: pointer;
}

.careers-button {
  background: none;
  border: none;
  border-radius: 20px;
  font-size: 17px;
  padding: 9px;
  transition: 0.5s;
}

.careers-button:hover {
  color: rgb(18, 213, 213);
  cursor: pointer;
}

.bottom-bar {
  margin-top: 20%;
  justify-content: center;
  background-color: rgb(0, 200, 255);
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 1vw;
}